@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body {
  height: 100%;
}

body {
    font-family: "Signika", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px; 
  margin-left: auto; 
  margin-right: auto; 
  padding-left: 15px; 
  padding-right: 15px; 
}


.header {
    height: 1024px;
    background-color: #BEBDB8;
}

.header_inner {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.search-form {
    position: relative;
    width: 300px;
}

.search-input {
    width: 302px;
    padding: 10px 40px 10px 15px; /* Отступы с учетом места для иконки */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 35px;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: url('search_24dp_000_FILL0_wght400_GRAD0_opsz24.png') no-repeat center;
    background-size: 24px;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    margin-left: 20px;
    width: 100px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
    transition: 0.5s;

}


.nav a:hover {
    background-color: #283048;
    color: #fff;
}


.header_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header_title img {
    margin-top: 200px;
    width: 600px;
    height: 450px;
    border-radius: 50px;
}

.title_text {
    margin-top: 150px;
    margin-left: 100px;
}

.title_text h1 {
    line-height: 50px;
    color: #FFFFFF;
    font-size: 40px;
}

.title_text p {
    color: #FFFFFF;
    line-height: 30px;
    margin-top: 60px;
    font-size: 20px;
}

.header_btn {
    margin-top: 150px;
    text-align: center;
}

.header_btn a {
    background-image: linear-gradient(to right, #283048 0%, #859398  51%, #283048  100%);
    margin: 10px;
    padding: 15px 45px 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    text-decoration: none;
}

.header_btn a:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
}


         
.btn-grad {
    background-image: linear-gradient(to right, #283048 0%, #859398  51%, #283048  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 